@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #fafdff;
  --color-secondary: #e9eef2;
  --color-green: #02e8a3;
  --color-greenBg: rgba(2, 232, 163, 0.1);
  --color-red: #e80602;
  --color-redBg: rgba(232, 6, 2, 0.1);
  --color-blue: #0360ab;
  --color-blueBg: rgba(3, 96, 171, 0.1)
}
@layer components {
  .h1 {
    @apply text-lg font-bold
  }

  .h6 {
    @apply text-sm font-bold
  }

  .p {
    @apply text-[13px] font-normal text-gray-600
  }

  .section {
    @apply pt-6
  }
  .input {
    @apply bg-gray-50 text-sm px-6 py-3 rounded-md outline-0 mt-3
  }
  .label {
    @apply font-semibold
  }
  .input-error {
    @apply text-[12px] text-red-500 pb-3
  }
  .form-button {
    @apply px-6 py-3 text-center rounded-md cursor-pointer w-full
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400, 500;
  letter-spacing: 0.01cm;
}

